[tool.black]
    py36 = true
    line-length = 100
    include = '\.pyi?$'
    exclude = '''
    /(
        \.git
      | \.hg
      | \.mypy_cache
      | \.tox
      | \.venv
      | _build
      | buck-out
      | build
      | dist
      | docs

      # The following are specific to Black, you probably don't want those.
      | blib2to3
      | tests/data
      | docs/
    )/
    '''
